
{# Access #}
interface {{ item }}
 spanning-tree portfast
 spanning-tree bpduguard enable
{% if interfaces[item].voice_vlan %}
 switchport mode general
 switchport general pvid {{ interfaces[item].data_vlan }}
 switchport general allowed vlan add {{ interfaces[item].data_vlan }} untagged
 switchport general allowed vlan add {{ interfaces[item].voice_vlan }} tagged
{% else %}
 switchport mode access
 switchport access vlan {{ interfaces[item].data_vlan }}
{% endif %}
