
{% if hostname %} 
hostname {{ hostname }}
{% else %} 
{% endif %}

ip ssh server
no ip telnet server
no ip http server
no ip telnet server

line ssh
 exec-timeout 30
 
clock timezone " " +1
clock summer-time web recurring eu
clock source sntp
sntp unicast client enable
sntp unicast client poll

{% for hostip in ntp_servers %}
sntp server {{ hostip }} 
{% endfor %}

{% for hostip in syslog_servers %}
logging host {{ hostip }} 
{% endfor %}

ip domain name {{ domain_name }}
ip name-server {{ dns_server1 }} {{ dns_server2 }}

cdp device-id format hostname

snmp-server server
snmp-server community {{ snmp_community }}
snmp-server group {{ snmp_group }} v3 priv
snmp-server user {{ snmp_user }} {{ snmp_group }} v3 auth md5 {{ snmp_auth }} priv {{ snmp_priv }}
