{% if vrfs %}
{% for name,vrf in all_vrfs|dictsort %}
{% for vr in vrfs %}
{% if vr == name %}

!ip vrf {{ name }}
vrf definition {{ name }}
 address-family ipv4
 address-family ipv6
{% else %}
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
