{# trunks #}
{% if trunks %}
{%  for name,trunk in trunks |dictsort %}
{%   if trunk.port_channel_id %}

interface Po{{ trunk.port_channel_id }}
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan {{ trunk.vlans }}
 switchport mode trunk
 switchport nonegotiate
 no keepalive
{%    if trunk.native_vlan %}
 switchport trunk native vlan {{ trunk.native_vlan }}
{%    else %}
{%    endif %}
{%    if trunk.portfast %}
 spanning-tree portfast trunk
{%    else %}
{%    endif %}
{%    if trunk.stp_guard %}
 spanning-tree guard {{ trunk.stp_guard }}
{%    else %}
{%    endif %}
{%   else %}
{%   endif %}

interface {{ name }}
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan {{ trunk.vlans }}
 switchport mode trunk
 switchport nonegotiate
 no keepalive
{%   if trunk.native_vlan %}
 switchport trunk native vlan {{ trunk.native_vlan }}
{%   else %}
{%   endif %}
{%   if trunk.portfast %}
 spanning-tree portfast trunk
{%   else %}
{%   endif %}
{%   if trunk.stp_guard %}
 spanning-tree guard {{ trunk.stp_guard }}
{%   else %}
{%   endif %}
{%   if trunk.port_channel_id %}
 channel-group {{ trunk.port_channel_id }} mode {{ trunk.port_channel_mode }}
 no shutdown
{%   else %}
{%   endif %}
{%  endfor %}
{% else %}
{% endif %}
