{% if vrf_l3_interfaces %}
{%  for l3_name,l3_int in vrf_l3_interfaces |dictsort %}
{%  set vl_id = l3_name.find('n') %}
{%   if vl_id > 0 %}
{%   set vl_id = l3_name[vl_id+1:] | int %}
{%    for vl_name,vlan in all_vlans|dictsort %}
{%     if vl_id == vlan.id %}
{%      for vl in vlans %}
{%       if vl_id == vl %}
{%        for vrf_name,vrf in all_vrfs |dictsort %}
{%         if l3_int.vrf == vrf_name %}

spanning-tree vlan {{ vl_id }} priority {{ l3_int.stp_priority }}

interface {{ l3_name }}
 description {{ l3_int.name }}, {{ l3_int.name }}
{%          if l3_int.ip_addr and l3_int.netmask %}
! ip vrf forwarding {{ l3_int.vrf }}
 vrf forwarding {{ l3_int.vrf }}
 ip address {{ l3_int.ip_addr }} {{ l3_int.netmask }}
{%           if l3_int.ip_helper %}
{%            for ip_helper in l3_int.ip_helper %}
 ip helper-address {{ ip_helper }}
{%            endfor %}
{%           else %}
{%           endif %}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ip verify unicast source reachable-via rx allow-default
 ip pim dense-mode
 ip cgmp
 ip sap listen
{%           if l3_int.ospf_area is number %}
 ip ospf {{ vrf.id }} area {{ l3_int.ospf_area }}
{%           else %}
{%           endif %}
{%          else %}
{%          endif %}
{%          if l3_int.ipv6_addr %}
 ipv6 address {{ l3_int.ipv6_addr }}/64
 ipv6 enable
{%           if l3_int.ipv6_m_flag %}
 ipv6 nd prefix default 2592000 604800 no-autoconfig
 ipv6 nd managed-config-flag
{%           else %}
{%           endif %}
 ipv6 nd router-preference High
 no ipv6 redirects
 no ipv6 unreachables
 ipv6 verify unicast source reachable-via rx allow-default
{%           if l3_int.ipv6_helper %}
{%            for ipv6_helper in l3_int.ipv6_helper %}
 ipv6 dhcp relay destination {{ ipv6_helper }}
{%            endfor %}
{%           else %}
{%           endif %}
{%           if l3_int.ospf_area is number %}
 ospfv3 {{ vrf.id }} ipv6 area {{ l3_int.ospf_area }}
{%           else %}
{%           endif %}
{%          else %}
{%          endif %}
 exit
{%         else %}
{%         endif %}
{%        endfor %}
{%       else %}
{%       endif %}
{%      endfor %}
{%     else %}
{%     endif %}
{%    endfor %}
{%   else %}
{%   endif %}
{%  endfor %}
{% else %}
{% endif %}
