{# backbone ports #}
{% if backbones %}
{% for name,backbone in backbones |dictsort %}
{% if backbone.port_channel_id %}

interface Po{{ backbone.port_channel_id }}
! switchport trunk encapsulation dot1q
 switchport trunk allowed vlan {{ backbone.vlans }}
 switchport mode trunk
 switchport nonegotiate
 no keepalive
{% if backbone.stp_guard %}
 spanning-tree guard {{ backbone.stp_guard }}
{% else %}
{% endif %}
interface {{ name }}
! switchport trunk encapsulation dot1q
 switchport trunk allowed vlan {{ backbone.vlans }}
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 channel-group {{ backbone.port_channel_id }} mode {{ backbone.port_channel_mode }}
{% else %}

interface {{ name }}
! switchport trunk encapsulation dot1q
 switchport trunk allowed vlan {{ backbone.vlans }}
 switchport mode trunk
 switchport nonegotiate
 no keepalive
{% endif %}
{% if backbone.stp_guard %}
 spanning-tree guard {{ backbone.stp_guard }}
{% else %}
{% endif %}
 no shutdown
{% endfor %}
{% else %}
{% endif %}
