ip routing
router ospf {{ ospf_GLOBAL_id }}
 no auto-cost
 area 0 authentication message-digest
 passive-interface default
ipv6 unicast-routing 
ipv6 router ospf {{ ospf_GLOBAL_id }}
 no auto-cost
 passive-interface default
ip ospf name-lookup
ipv6 ospf name-lookup
