
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
clock timezone CET 1 0
clock summer-time CEST recurring last Sun Mar 2:00 last Sun Oct 3:00 60
service password-encryption
service sequence-numbers
service tcp-keepalives-in
service tcp-keepalives-out

no ip http server
no ip http secure-server
ip dhcp bootp ignore 

no vstack

!ip tftp blocksize 8192

{% for hostip in ntp_servers %}
ntp server {{ hostip }}
{% endfor %}

{% for hostip in syslog_servers %}
logging host {{ hostip }}
!logging {{ hostip }}
{% endfor %}

login on-failure log

ip domain-name {{ domain_name }}
ip name-server {{ dns_server1 }} {{ dns_server2 }}

vtp mode transparent

spanning-tree mode rapid-pvst
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree extend system-id

errdisable recovery cause all
errdisable recovery interval 120

line con 0
 logging synchronous
 escape-character 3

line vty 0 4
 exec-timeout 60 0
 timeout login response 10
 logging synchronous
 transport preferred none
 transport input ssh
 escape-character 3

line vty 5 15
 exec-timeout 60 0
 timeout login response 10
 logging synchronous
 transport preferred none
 transport input ssh
 escape-character 3
