{% if vrf_guard_interfaces %}
{% for g_name,g_int in vrf_guard_interfaces |dictsort %}
{% set vl_id = g_name.find('n') %}
{% if vl_id > 0 %}
{% set vl_id = g_name[vl_id+1:] | int %}
{% for vl_name,vlan in all_vlans|dictsort %}
{% if vl_id == vlan.id %}
{% for vl in vlans %}
{% if vl_id == vl %}
{% for vrf_name,vrf in all_vrfs|dictsort %}
{% if g_int.vrf == vrf_name %}
{% for vr in vrfs %}
{% if g_int.vrf == vr %}

spanning-tree vlan {{ vl_id }} priority {{ g_int.stp_priority }}

interface {{ g_name }}
 description {{ g_int.name }}, {{ g_int.name }}
{% if g_int.ip_addr %}
! ip vrf forwarding {{ g_int.vrf }}
 vrf forwarding {{ g_int.vrf }}
 ip address {{ g_int.ip_addr }} 255.255.255.248
 no ip redirects
 no ip unreachables
 no ip proxy-arp
{% else %}
{% endif %}
{% if g_int.ipv6_addr %}
 ipv6 address {{ g_int.ipv6_addr }}/64
 ipv6 enable
 ipv6 nd prefix default no-advertise
 ipv6 nd ra suppress
 no ipv6 redirects
 no ipv6 unreachables
{% else %}
{% endif %}
 spanning-tree link-type point-to-point

{% if g_int.ip_addr %}
ip route vrf {{ vrf_name }} 0.0.0.0 0.0.0.0 {{ g_int.guard_ip_addr }}

router ospf {{ vrf.id }} vrf {{ vrf_name }}
{% if g_int.ospf_router_id %}
 router-id {{ g_int.ip_addr }}
{% else %}
{% endif %}
  default-information originate metric-type 1
{% else %}
{% endif %}

{% if g_int.ipv6_addr %}
ipv6 route vrf {{ vrf_name }} ::/0 {{ g_int.guard_ipv6_addr }}

router ospfv3 {{ vrf.id }}
{% if g_int.ospf_router_id %}
 router-id {{ g_int.ip_addr }}
{% else %}
{% endif %}
 address-family ipv6 unicast vrf {{ vrf_name }}
  default-information originate metric-type 1
{% else %}
{% endif %}

{% else %}
{% endif %}
{% endfor %}

{% else %}
{% endif %}
{% endfor %}

{% else %}
{% endif %}
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% else %}
{% endif %}
