{# access #}
{% if access %}
{%  for name,int in access |dictsort %}

interface {{ name }}
 spanning-tree portfast
{%   if int.voice_vlan %}
 switchport mode general
 switchport general pvid {{ int.data_vlan }}
 switchport general allowed vlan add {{ int.data_vlan }} untagged
 switchport general allowed vlan add {{ int.voice_vlan }} tagged
{%   else %}
 switchport mode access
 switchport access vlan {{ int.data_vlan }}
{%   endif %}
{%   if int.port_sec_mode %}
 port security mode {{ int.port_sec_mode }}
{%   else %}
{%   endif %}
{%   if int.port_sec_action %}
 port security {{ int.port_sec_action }}
{%   else %}
{%   endif %}
{%   if int.port_sec_max %}
 port security max {{ int.port_sec_max }}
{%   else %}
{%   endif %}
{%  endfor %}
{% else %}
{% endif %}
