{% if mgmt %}
{%  for name,int in mgmt |dictsort %}
{%   if int.ip_addr %}

interface vlan 1
 no ip address dhcp
 shutdown

!interface {{ name }}
! ip address {{ int.ip_addr }} {{ int.netmask }}
!ip default-gateway {{ int.gw }}
{% else %}
{% endif %}
{% if int.ipv6_addr %}

interface {{ name }}
 ipv6 address {{ int.ipv6_addr }}/64
ipv6 default-gateway {{ int.gw6 }}
{%   else %}
{%   endif %}
{%  endfor %}
{% else %}
{% endif %}
